footer {
    
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(71, 67, 67);
    padding: 20px;
    text-align: center;
    
}

p {
    margin: 5px 0;
}

a {
    color: grey;
}

a:hover {
    text-decoration: underline;
}
